<article>
                
    <header>
        <h2><a href="<?php echo $this->view->baseUrl(); ?>/article/<?php echo $this->article->token; ?>" xml:lang="fr" lang="fr" rel="bookmark"><?php echo $this->article->titre; ?></a></h2>
        <?php $date = new Zend_Date($this->article->date_published); ?>

        <p>
            le <time datetime="<?php echo $date->get(Zend_Date::YEAR.'-'.Zend_Date::MONTH.'-'. Zend_Date::DAY); ?>" pubdate="pubdate"><?php echo $date->get(Zend_Date::DAY.' '.Zend_Date::MONTH_NAME.' '. Zend_Date::YEAR); ?></time> par 
            <a href="https://twitter.com/haygus" rel="author" xml:lang="fr" lang="fr">Haygus</a>
        </p>
    </header>
    <aside role="complementary">Tags : <?php echo $this->view->TagsArticle($this->article->tags, $this->view); ?></aside>
    <section role="article">

        <?php echo $this->view->DisplayText($this->article->contenu); ?>
    </section>

    <?php if(!empty($this->unique)): ?>
        <section role="contentinfo" class="meta_article">
            <h3>Improve it !</h3>
            <p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="haygus" data-lang="fr" data-size="large">Tweeter</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </p>
        </section>
        <section role="contentinfo" class="meta_article" id="comments">
            <h3>Commentaires</h3>
            <p>
                Les commentaires ne sont pas encore fonctionnels, vous pouvez me contacter sur <a href="https://twitter.com/haygus" rel="author" xml:lang="fr" lang="fr">twitter</a> ou par e-mail blog -_@_- haygus.fr
            </p>
        </section>
        
    <?php endif; ?>
</article>