#cornerpopup {display:none;}
body {
	background-color:#BFBFBF;
}
#main {
	width:600px;
	background-color:#BFBFBF;
	margin:20px auto;
	padding:20px;
}
a, a:visited, a:link {color:#7F7F7F;}
#cornerpopup, #cornerpopup_debug {display:none;}
section {background-color:#EEEEEE;}
#ie_alert {padding:0.5%;background:red;}