body {width:100%;}
/* Bloc qui entoure tout */
#global {width:100%;margin: 10px auto;}

.blog {
    margin: 0 auto;
    width : 93.75%; /* 900 px / 960px */
}

section, nav, header {display:block;}

body {background-color:#E8F6FF;}
a, a:visited {color:#497ED5;}
a img {border:none;display:block;}
a {text-decoration: none;}
a:hover {text-decoration: underline;color: #194EA5;}

.blog #main_content {float:right;width:64.444444444%;} /* 580px / 900px */
.blog #sub_content {float:left;width:33.33333333333%;} /* 300px / 900px */

section {background-color:#cfe2ff;}

.blog #sub_content section, .admin #sub_content nav {
    margin:3.33333333333% auto; /* 10px / 300px */
    padding: 3.33333333333%; /* 10px / 300px */

    -moz-border-radius: 2.66666666667%  2.66666666667%  2.66666666667%  2.66666666667% ; /* 8px / 300px */
    -webkit-border-radius: 2.66666666667% 2.66666666667%  2.66666666667%  2.66666666667% ; /* 8px / 300px */
    -khtml-border-radius: 2.66666666667% 2.66666666667%  2.66666666667%  2.66666666667% ; /* 8px / 300px */

    -moz-box-shadow: 1px 1px 13px #999;
    -webkit-box-shadow: 1px 1px 13px #999;
    box-shadow: 1px 1px 13px #999;

}
.blog #main_content>section {
    margin: 1.72413793103% auto; /* 10px / 580px */
    padding: 1.72413793103%; /* 10px / 580px */

    -moz-border-radius: 1.37931034483%  1.37931034483%  1.37931034483%  1.37931034483% ; /* 8px / 580px */
    -webkit-border-radius: 1.37931034483% 1.37931034483%  1.37931034483%  1.37931034483% ; /* 8px / 580px */
    -khtml-border-radius: 1.37931034483% 1.37931034483%  1.37931034483%  1.37931034483% ; /* 8px / 580px */

    -moz-box-shadow: 1px 1px 13px #999;
    -webkit-box-shadow: 1px 1px 13px #999;
    box-shadow: 1px 1px 13px #999;
}

.blog section[role="contentinfo"] {
    
    clear:both;
    
    -moz-box-shadow: 1px 1px 13px #999;
    -webkit-box-shadow: 1px 1px 13px #999;
    box-shadow: 1px 1px 13px #999;
    
    -moz-border-radius: 0.888888888889%  0.888888888889%  0.888888888889%  0.888888888889% ; /* 8px / 900px */
    -webkit-border-radius: 0.888888888889% 0.888888888889%  0.888888888889%  0.888888888889% ; /* 8px / 900px */
    -khtml-border-radius: 0.888888888889% 0.888888888889%  0.888888888889%  0.888888888889% ; /* 8px / 900px */
    
    padding: 1.11111111111%; /* 10px / 900px */
    margin:1.11111111111% auto; /* 10px / 900px */
}

#main_content section article aside {
    border-bottom : 1px dotted #999;
}
#main_content section article .meta_article {
    -moz-box-shadow: none;
    -webkit-box-shadow:none;
    box-shadow:none;
    
    -moz-border-radius: 0 ;
    -webkit-border-radius: 0 ;
    -khtml-border-radius: 0 ;
    
    background:none;
    border-top: 1px dotted #999;
}

#main_content section article {
    border-bottom: 5px solid #d5e7ff;
    
}