<h2>Licence</h2>
<h3>Contenu</h3>
<p>
	Le contenu des articles est par défaut soumis à la licence <a href="https://creativecommons.org/licenses/by/2.0/fr/" rel="external">Creative Commons Attribution 2.0 France (CC BY 2.0)</a>.
</p>
<h4>Vous êtes libre de :</h4>
<ul>
	<li><strong>partager</strong>: reproduire, distribuer et communiquer l'oeuvre</li>
	<li><strong>remixer</strong>: adapter l'oeuvre</li>
	<li>d’utiliser cette œuvre à des fins commerciales</li>
</ul>
<h4>Selon la condition suivante :</h4>
<ul>
	<li><strong>Attribution</strong>: Vous devez attribuer l'oeuvre de la manière indiquée par l'auteur de l'oeuvre ou le titulaire des droits (mais pas d'une manière qui suggérerait qu'ils vous soutiennent ou approuvent votre utilisation de l'oeuvre).</li>
</ul>

<h3>Code Source</h3>
<p>Le blog utilise le framework PHP Zend Framework, celui-ci est sous licence <a href="http://framework.zend.com/license/new-bsd">New BSD License</a>.</p>
<p>Le code spécifique du blog est basé (et modifié à ma sauce) sur le code de <a href="http://www.dasprids.de/blog/2010/10/20/modern-application-design-part-2" rel="external">DASPRiD</a>.
    <br />
    <a href="http://site.svn.dasprids.de/trunk/LICENSE" rel="external">La licence de DASPRiD</a>.
    
</p>
<p>Le code source se trouve ici : <a href="https://bitbucket.org/haygus/blog/" rel="external">https://bitbucket.org/haygus/blog/</a>
</p>
    <h4>Pour le reste, vous êtes libre de :</h4>
<ul>
	<li><strong>partager</strong>: reproduire, distribuer et communiquer l'oeuvre</li>
	<li><strong>remixer</strong>: adapter l'oeuvre</li>
	<li>d’utiliser cette œuvre à des fins commerciales</li>
</ul>
<h4>Selon la condition suivante :</h4>
<ul>
	<li><strong>Attribution</strong>: Vous devez attribuer l'oeuvre de la manière indiquée par l'auteur de l'oeuvre ou le titulaire des droits (mais pas d'une manière qui suggérerait qu'ils vous soutiennent ou approuvent votre utilisation de l'oeuvre).</li>
</ul>