<?php if(count($this->articles) > 0): ?>
<?php header('Content-Type: text/xml; charset=UTF-8'); ?>
<?xml version="1.0" encoding="UTF-8"?>
    <rss version="2.0"> 
        <channel>
            <title>Haygus</title>   
            <link>http://<?php echo $_SERVER['SERVER_NAME'].$this->baseUrl(); ?></link>
            <description>Be independant and free</description>
            <?php $date = new Zend_Date($this->articles[0]->date_published); ?>
            <lastBuildDate><?php echo $date->get(Zend_Date::RFC_2822); ?></lastBuildDate>
            <language>fr</language>
            
            <?php foreach ($this->articles as $article): ?>
                <item>
                    <title><?php echo $this->escape($article->titre); ?></title>
                    <link>http://<?php echo $_SERVER['SERVER_NAME']; ?><?php echo $this->url(array('token' => $article->token), 'article'); ?></link>
                    <comments><?php echo $_SERVER['SERVER_NAME']; ?><?php echo $this->url(array('token' => $article->token), 'article'); ?>#comments</comments>
                    
                    <?php $date = new Zend_Date($article->date_published); ?>
                    <pubDate><?php echo $date->get(Zend_Date::RFC_2822); ?></pubDate>
                    <category><![CDATA[<?php echo $this->TagsArticleXml($article->tags, $this); ?>]]></category>
                    <guid
    isPermaLink="false">http://<?php echo $_SERVER['SERVER_NAME']; ?><?php echo $this->url(array('token' => $article->token), 'article'); ?></guid>
                    <description><![CDATA[<?php echo $this->escape($this->CleanText($article->contenu)); ?>]]></description>
                    
                </item>
            <?php endforeach ; ?>
        </channel>
    </rss>

<?php endif; ?>
