<h2>Wall of links<?php if (isset($this->tag)): ?> [<?php echo $this->escape($this->tag); ?>]<?php endif; ?></h2>
<?php if($this->urls->count() > 0): ?>
    <ul>
        <?php foreach ($this->urls as $url): ?>
            <li>
                <a xml:lang="<?php echo $url->lang; ?>" lang="<?php echo $url->lang; ?>" href="<?php echo $url->url; ?>" rel="external" title="<?php echo $this->TagsUrl($url->tags); ?>">
                    <?php echo $url->label; ?>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
<?php else: ?>
    <p>
        Pas d'url avec ce tag.
    </p>
<?php endif; ?>
