<table>
    <tr>
        <th>id</th>
        <th>titre</th>
        <th>OPTIONS</th>
    </tr>


    <?php foreach ($this->articles as $article): ?>
        <tr>
            <td><?php echo $article->id_article; ?></td>
            <td>
                <a href="<?php echo $this->url(array('action' => 'edit',
                    'token' => $article->token),
                    'article'); ?>"><?php echo $article->titre ?></a>
            </td>
            <td>
                <a href="<?php echo $this->url(array('action' => 'edit',
                    'id_article' => $article->id_article),
                    'admin_articles'); ?>">edit</a>
            </td>
        </tr>


    <?php endforeach; ?>
</table>