<h2>Articles taggué [<?php echo $this->escape($this->tag); ?>]</h2>
<section role="main">
    <?php if(count($this->articles) > 0): ?>
    
        <?php foreach ($this->articles as $article): ?>
            <?php echo $this->partial('common/article.phtml', array(
            'view' => $this,
            'article' => $article)); ?>
            
        <?php endforeach; ?>
    <?php else: ?>
        <p>
            Aucun article n'est taggué avec [<?php echo $this->escape($this->tag); ?>].
        </p>
    <?php endif; ?>
</section>
