<table>
    <tr>
        <th>id</th>
        <th>label</th>
        <th>color</th>
        <th>OPTIONS</th>
    </tr>


    <?php foreach ($this->tags as $tag): ?>
        <tr>
            <td><?php echo $tag->id_tag; ?></td>
            <td><?php echo $tag->label; ?></td>
            <td style="background-color:#<?php echo $tag->color; ?>;"> </td>
            <td><a href="<?php echo $this->url(array('action' => 'edit',
                                                    'id_tag' => $tag->id_tag),
                                                    'admin_tags'); ?>">edit</a></td>
        </tr>
    <?php endforeach; ?>
</table>