<!DOCTYPE html>
<head>
    <title>haygus.fr</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" media="all" href="<?php echo $this->baseUrl(); ?>/css/base.css" />
    <link rel="stylesheet" media="all" href="<?php echo $this->baseUrl(); ?>/css/style.css" />
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="<?php echo $this->baseUrl(); ?>/css/style_768.css" />
    <link rel="stylesheet" media="screen and (max-width: 520px)" href="<?php echo $this->baseUrl(); ?>/css/style_520.css" />
    <link rel="stylesheet" media="all" href="<?php echo $this->baseUrl(); ?>/google-code-prettify/prettify.css" />
    <script type="text/javascript">
    var ie = false;
    </script>
    <!--[if lt IE 9.]>
        <script type="text/javascript">
            ie = true;
            document.createElement("header");
            document.createElement("section");
            document.createElement("nave");
            document.createElement("article");
        </script>
        <link rel="stylesheet" media="all" href="css/ie.css" />
    <![endif]-->
    <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/google-code-prettify/prettify.js"></script>
</head>
<body onload="prettyPrint()">
    <div id="global">
        <div class="blog">
            <!--[if lt IE 9.]>
                <section role="complementary" id="ie_alert">
                    <h2>Internet Explorer</h2>
                    <p>
                        <strong>Attention ! </strong> Votre navigateur (Internet Explorer 6, 7 ou 8) présente de sérieuses lacunes en terme de sécurité et de performances, dues à son obsolescence (il date de 2001).<br />
                        En conséquence, ce site sera consultable mais de manière moins optimale qu'avec un navigateur récent (<a href="http://www.browserforthebetter.com/download.html">Internet Explorer 9</a>, <a href="http://www.mozilla-europe.org/fr/firefox/">Firefox</a>, <a href="http://www.google.com/chrome?hl=fr">Chrome</a>, <a href="http://www.apple.com/fr/safari/download/">Safari</a>,...)
                    </p>
                </section>
            <![endif]-->
            <h1>Le blog de Haygus
                <?php if (!empty($this->layout()->getView()->tag)): ?> [<?php echo $this->layout()->getView()->tag; ?>]<?php endif; ?>
            </h1>
            <nav role="navigation">
                <a href="<?php echo $this->baseUrl(); ?>/" xml:lang="fr" lang="fr">Home</a>
            </nav>
            
            <div id="main_content">
                <section role="main">
                    <div id="main_content_inner">
                        <?php echo $this->layout()->content ?>
                    </div>

                </section>


            </div>
            <div id="sub_content">
                <section role="contentinfo">
                    <?php if (!empty($this->layout()->getView()->tag)): ?>
                        <?php echo $this->action('url', 
                                                'index', 
                                                null,
                                                array('tag' => $this->layout()->getView()->tag)); ?>
                    <?php else: ?>
                       <?php echo $this->action('url', 'index'); ?>
                    <?php endif; ?>
                </section>

                <section role="secondary">
                    <a class="twitter-timeline"  href="https://twitter.com/haygus" data-widget-id="639073823686533120">Tweets by @haygus</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </section>

            </div>
            <section role="contentinfo">
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.0/fr/">
                        <img alt="Contrat Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/2.0/fr/80x15.png" />
                    </a>
                    <br />
                    <a href="<?php echo $this->baseUrl(); ?>/licence" rel="copyright">licence<a
                </p>

                <!-- Piwik -->
                <script type="text/javascript">
                    var _paq = _paq || [];
                    _paq.push(['trackPageView']);
                    _paq.push(['enableLinkTracking']);
                    (function() {
                        var u="//stats.haygus.fr/";
                        _paq.push(['setTrackerUrl', u+'piwik.php']);
                        _paq.push(['setSiteId', 1]);
                        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                    })();


                </script>
                <noscript><p><img src="//stats.haygus.fr/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
                <!-- End Piwik Code -->
            </section>
        </div>
    </div>
</body>
</html>