<!DOCTYPE html>
<head>
	<title>haygus.fr</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

	<link rel="stylesheet" media="all" href="<?php echo $this->baseUrl(); ?>/css/base.css" />
	<link rel="stylesheet" media="all" href="<?php echo $this->baseUrl(); ?>/css/style.css" />
        <link rel="stylesheet" media="all" href="<?php echo $this->baseUrl(); ?>/google-code-prettify/prettify.css" />
	<script type="text/javascript">
        var ie = false;
	</script>
        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/google-code-prettify/prettifyprettify.js"></script>
</head>
<body>
    <div id="global">
        <div class="blog admin">

            <h1>Le blog || ADMIN</h1>
            <nav role="navigation">
                <a href="<?php echo $this->baseUrl(); ?>/" xml:lang="fr" lang="fr">Home</a>
            </nav>
            <div id="sub_content">
                <nav role="navigation">
                	<ul>
                    	<li><a href="<?php echo $this->baseUrl(); ?>/admin">admin Home</a></li>
                    	<li><a href="<?php echo $this->baseUrl(); ?>/admin/articles">Articles</a></li>
                        <li><a href="<?php echo $this->baseUrl(); ?>/admin/tags">Tags</a></li>
                    </ul>
                </nav>

            </div>
            <div id="main_content">
                <section role="main">
                    <div id="main_content_inner">
                        <?php echo $this->layout()->content ?>
                    </div>

                </section>
            </div>
            <section role="contentinfo">
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.0/fr/" xml:lang="fr" lang="fr">
                        <img alt="Contrat Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/2.0/fr/80x15.png" />
                    </a>
                    <br />
                    This création is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.0/fr/" xml:lang="fr" lang="fr">Creative Commons Paternité - Pas d'Utilisation Commerciale 2.0 France License</a>.
                </p>
                
            </section>
        </div>
    </div>
</body>
</html>